includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - src
        - tests
    level: max
    treatPhpDocTypesAsCertain: false
    checkMissingCallableSignature: true
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            identifier: method.nonObject
            path: tests/*
        -
            identifier: offsetAccess.nonOffsetAccessible
            path: tests/*
        -
            identifier: offsetAccess.notFound
            path: tests/*
        -
            message: '~Called .env. outside of the config directory~'
            path: tests/*
        -
            identifier: staticMethod.dynamicCall
            message: '~Illuminate\\Database\\Eloquent\\Builder~'
        -
            identifier: staticMethod.dynamicCall
            path: tests/*
        # Orchestra Testbench $this->app nullable in analysis
        -
            message: '~Illuminate\\Foundation\\Application\|null~'
            path: tests/*
